body {
   background-color: white;
   color:darkslategrey;
   font: "Cambria", sans-serif;
}

ul  {
   list-style: none;
   display:inline-flex;
}

ul > li {
   margin: 5px 15px;
}

nav {
   border-bottom: 2px solid white;
   margin:auto;
}