body {
   background-color: white;
   color:darkslategrey;
   font: sans-serif;
}

ul  {
   list-style: none;
}

ul > li {
   margin: 5px 15px;
   display:inline-flex;
   text-align: center;
}

nav {
   border-bottom: 2px solid gray;
}

.navlink, #navheader{
   color:gray;
}


#navheader-logo {
   box-sizing: border-box;
   line-height: 20px;
   width:100px;
   height:auto;
}

#splashHeader {
   margin: 20px 20px;
   text-align: center;
   display: block;
}