@import "custom";
@import "bootstrap/bootstrap";
@import "navbar";

// Fonts
html {
  font-size: 15px;
  @include media-breakpoint-up(sm) {font-size: 15px;}
  @include media-breakpoint-up(md) {font-size: 16px;}
  @include media-breakpoint-up(lg) {font-size: 17px;}
  @include media-breakpoint-up(xl) {font-size: 18px;}
}

body {
  //Fix Fonts on Different Browsers
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  &:hover {
    transition: all 200ms ease-in-out;
  }
}

h1, .h1 {
  font-weight: 200;
  letter-spacing: -2px;
}

h2, .h2 {
  font-weight: 200;
  letter-spacing: -1px;
}

h3, .h3 {
  font-weight: 300;
  letter-spacing: 0px;
}

h4, .h4 {
  font-weight: 300;
  letter-spacing: 0px;
}

h5, .h5 {
  font-weight: 400;
  letter-spacing: 0.5px;
}

h6, .h6 {
  font-weight: 600;
  letter-spacing: 0.75px;
}

// buttons
button, .btn {
  &:focus {
    outline: 0;
  }
}

// header image
.header-image {
  height: 600px;
  @include media-breakpoint-up(sm) { height: 650px; }
  @include media-breakpoint-up(md) { height: 700px; }
  @include media-breakpoint-up(lg) { height: 750px; }
  @include media-breakpoint-up(xl) { height: 800px; }
  margin-top: -76px;
  background-image: linear-gradient(rgba($white, 1), rgba($white, 0) 15%), url("../images/ubcclocktower.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
}

// sticky footer
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

// Sections

section {
  padding: 50px 0px;
}

.secondary-header-image {
  height: 300px;
  @include media-breakpoint-up(sm) { height: 325px; }
  @include media-breakpoint-up(md) { height: 350px; }
  @include media-breakpoint-up(lg) { height: 375px; }
  @include media-breakpoint-up(xl) { height: 400px; }
  margin-top: -76px;
  background-image: linear-gradient(rgba($white, 1), rgba($white, 0) 30%), url("../images/ubcmainmall.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
}

// home page
#projectBanner{
  background-image: linear-gradient(rgba($black, 0.15), rgba($black, 0.15)), url("../images/ubcmainmall.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
}

#joinBanner>.container {
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

// projects page
.projectImage {
   max-height:100px;
   width:auto;
}

.projectInfo {
   border: 2px solid grey;
}

.project-container {
  .project-image {
    position: relative;
    margin: auto;
    width: 100%;
    min-width : 220px;
    max-width: 350px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border-radius: 0.625rem;
    border: 0.3125rem solid $light;
    box-sizing: border-box;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    &:hover {
      .project-description {
        transform: translateY(0);
        bottom: 0;
        background-color: rgba($black, 0.95);
      }
    }

    .project-description {
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      position: absolute;
      bottom: 100px; // fix this
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(100%);
      background-color: rgba($black, 0.75);
      border-radius: 0.3125rem;
    }
  }
}

.gitLink {
max-height:30px;
}

.activeProject {
  min-width: 80vw;
  margin: 20px;
  height: 350px;
  border-right: 80vw solid $light;
}

// work with us page
.workBanner {
  background-image: linear-gradient(rgba($white, 1), rgba($white, 0) 30%), url('../images/ubcfountain.jpg');
   min-height:480px;
   height: 100vh;
   max-height: 1150px;
}


