@import "bootstrap/bootstrap";
@import "hamburger-menu";

// header image
.header-image {
  height: 750px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), url("../images/ubcmainmall.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}